<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">

    <meta charset="UTF-8">
    <title th:fragment="title">[[${pageTitle}]]</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<ul class="nav nav-pills"  th:fragment="menu">
    <li class="nav-item">
        <a class="nav-link active" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/patients">Patients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/consultations">Consultation</a>
    </li>
    <li class="nav-item float-right">
        <a class="nav-link" href="/logout">Déconnexion</a>
    </li>
</ul>

<span th:fragment="js">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</span>
</body>
</html>