<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/base::head">
    <title th:replace="layout/base :: title">Utilisateurs</title>
    </head>
<body>

<div th:replace="layout/base::menu"> </div>


<div class="main-container" th:fragment="content">
<div class="col col-10 offset-1">
<h1> Utlisateurs </h1>
    <a class="btn btn-primary" href="users/create"  >Ajouter un utilisateur</a>

    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <p th:text="${message}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom utlisateur</th>
        <th>Rôle</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td  th:text="${user.role}"></td>
        <td >
            <a class="btn btn-success" th:href="@{/users/edit/{id}(id=${user.id})}"  >Editer</a>
            <a class="btn btn-danger"  th:onclick="'showDeleteModal(' + ${user.id} + ')'"  >Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>

    </div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Voulez-vous supprimer ce user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <a id="btnDelete" href="#" class="btn btn-danger">Oui</a>
            </div>
        </div>
    </div>
</div>

</div>

<span th:replace="layout/base :: js"></span>

<script type="text/javascript">

    function showDeleteModal(id){

    const deleteBtn = $("#btnDelete");
    deleteBtn.prop("href", "/users/"+id);
    $("#deleteModal").modal('show');

    }

</script>

</body>
</html>